In [1]:
import pandas as pd

In [30]:
ua = pd.read_csv('ua.base', delimiter='\t', iterator=True, names=['user','item','ratings','timestamp'])

In [32]:
raw_data = ua.get_chunk(100).values

StopIteration:

In [16]:
data = raw_data[:,0:2]

In [17]:
label = raw_data[:,2]

In [18]:
label

array([5, 3, 4, 3, 3, 5, 4, 1, 5, 3, 2, 5, 5, 5, 5, 5, 3, 4, 5, 1, 4, 4,
       3, 4, 3, 2, 4, 1, 3, 3, 5, 2, 1, 2, 2, 3, 4, 3, 2, 5, 4, 5, 5, 4,
       4, 5, 3, 5, 4, 4, 3, 3, 5, 4, 5, 4, 5, 5, 3, 2, 5, 4, 4, 3, 4, 3,
       3, 3, 4, 3, 1, 4, 4, 4, 1, 4, 4, 5, 5, 3, 4, 3, 5, 5, 4, 5, 4, 5,
       3, 5, 2, 4, 5, 3, 4, 3, 5, 2, 2, 1])

In [19]:
data

array([[  1,   1],
       [  1,   2],
       [  1,   3],
       [  1,   4],
       [  1,   5],
       [  1,   6],
       [  1,   7],
       [  1,   8],
       [  1,   9],
       [  1,  10],
       [  1,  11],
       [  1,  12],
       [  1,  13],
       [  1,  14],
       [  1,  15],
       [  1,  16],
       [  1,  17],
       [  1,  18],
       [  1,  19],
       [  1,  21],
       [  1,  22],
       [  1,  23],
       [  1,  24],
       [  1,  25],
       [  1,  26],
       [  1,  27],
       [  1,  28],
       [  1,  29],
       [  1,  30],
       [  1,  31],
       [  1,  32],
       [  1,  34],
       [  1,  35],
       [  1,  36],
       [  1,  37],
       [  1,  38],
       [  1,  39],
       [  1,  40],
       [  1,  41],
       [  1,  42],
       [  1,  43],
       [  1,  44],
       [  1,  45],
       [  1,  46],
       [  1,  47],
       [  1,  48],
       [  1,  49],
       [  1,  50],
       [  1,  51],
       [  1,  52],
       [  1,  53],
       [  1,  54],
       [  1,  55],
       [  1,  56],
       [  1,  57],
       [  1,  58],
       [  1,  59],
       [  1,  60],
       [  1,  62],
       [  1,  63],
       [  1,  64],
       [  1,  65],
       [  1,  66],
       [  1,  67],
       [  1,  68],
       [  1,  69],
       [  1,  70],
       [  1,  71],
       [  1,  72],
       [  1,  73],
       [  1,  74],
       [  1,  75],
       [  1,  76],
       [  1,  77],
       [  1,  78],
       [  1,  79],
       [  1,  80],
       [  1,  81],
       [  1,  82],
       [  1,  83],
       [  1,  84],
       [  1,  85],
       [  1,  86],
       [  1,  87],
       [  1,  88],
       [  1,  89],
       [  1,  90],
       [  1,  91],
       [  1,  92],
       [  1,  93],
       [  1,  94],
       [  1,  95],
       [  1,  96],
       [  1,  97],
       [  1,  98],
       [  1,  99],
       [  1, 100],
       [  1, 101],
       [  1, 102],
       [  1, 103]])

In [33]:
ua = pd.read_csv('ua.base', delimiter='\t', names=['user','item','ratings','timestamp'])

In [34]:
ua.head()

   user  item  ratings  timestamp
0     1     1        5  874965758
1     1     2        3  876893171
2     1     3        4  878542960
3     1     4        3  876893119
4     1     5        3  889751712

In [25]:
max(set(ua.user))

943

In [26]:
len(set(ua.user))

943

In [27]:
max(set(ua.item))

1682

In [28]:
len(set(ua.item))

1680

In [35]:
print(len(ua))

90570

In [37]:
ua.values[90569,0:2]

array([ 943, 1330])

In [ ]:
ua.values[]